@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border-radius: 5px;
  --ff: "Josefin Sans", sans-serif;
  --large-fw: 500;
  --small-fw: 300;
  --bkgr-img: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  --bttn-img: linear-gradient(90deg, #0f78da 0%, #92fe9d 100%);
  --active-bttn-img: linear-gradient(90deg, #0f78da6c 0%, #92fe9d76 100%);
}

body {
  font-family: var(--ff);
  color: white;
  width: 100vw;
  min-height: 100vh;
  background-image: var(--bkgr-img);
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  color: #ffffff;
  font-family: var(--ff);
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: var(--bttn-img);
  background-size: 200%;
  background-position: left;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-position: right;
}
.button:active {
  background-image: var(--active-bttn-img);
}
